@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 480px) {
    /* estilos aqui */
    .buttom {

        /* display: flex;
        flex-direction: row; */
        /* align-items: center; */
        padding: 15px 30px;
        display: block;
        margin: 0 auto;
        margin-top: 4%;
        /* Blue 1 */
        /* background: #2F80ED; */


    }
    form a{
      font-size: 0.9rem;
      /* color: green; */
    }
    .texto {
        font-size: 40px;
        display: block;
        /* padding: -50%; */
        margin-top: 10%;
        /* line-height: 42px;  */
        /* identical to box height, or 52% */
        /*
        text-align: center;
         */
        /* Texts In purple / Título */
    }
    .seusdados{
      width: 100%;
      height: 50%;
      margin: auto;
      margin-top: -15%;
      padding: 10%;
      border-radius:3%;
    }
    #titleform {
      font-size: 1.2rem;
      margin-top:-5%;
      text-align:center;
      /* margin: 0 auto; */
      margin-bottom: 10%;

    }
    .imagemcap{
        text-align: center;
        font-size: 0.5rem;
        width: 80%;
        margin: 0 auto;
    }
}


/* Small */

@media screen and (max-width: 768px) and (min-width: 481px)  {
    /* estilos aqui */

    .buttom {

        /* display: flex;
        flex-direction: row; */
        /* align-items: center; */
        padding: 10px 35px;
        display: block;
        margin: 0 auto;
        margin-top: 2%;
        /* Blue 1 */
        /* background: #2F80ED; */
        background: green;
        color: #FFFFFF;
        border-radius: 8px;
    }
    form a{
      font-size: 0.8rem;
    }
    .texto {
        font-size: 45px;
        display: block;
        /* padding: -50%; */
        margin-top: 10%;
        /* line-height: 42px;  */
        /* identical to box height, or 52% */
        /*
        text-align: center;
         */
        /* Texts In purple / Título */
    }
    .seusdados{
      width: 80%;
      height: 50%;
      margin: auto;
      margin-top: -15%;
      padding: 10%;
      border-radius:3%;
    }
    #titleform {
      font-size: 1.4rem;
      margin-top:-12%;
      text-align:center;
      /* margin: 0 auto; */
      margin-bottom: 5%;
    }
    .imagemcap{
        text-align: center;
        font-size: 0.5rem;
        width: 80%;
        margin: 0 auto;
    }
}


/* Medio */


@media screen and (min-width: 768px) and (max-width: 1023px) {

    /* estilos aqui */
    /* Centralizar botão  */
    .buttom {

        /* display: flex;
        flex-direction: row; */
        /* align-items: center; */
        padding: 15px 40px;
        display: block;
        margin: 0 auto;
        margin-top: 2%;
        /* Blue 1 */
        /* background: #2F80ED; */
        background: green;
        color: #FFFFFF;
        border-radius: 8px;
    }
    form a{
      font-size: 0.8rem;
    }
    .texto {
        font-size: 50px;
        display: block;
        /* padding: -50%; */
        margin-top: 10%;
        /* line-height: 42px;  */
        /* identical to box height, or 52% */
        /*
        text-align: center;
         */
        /* Texts In purple / Título */
    }
    .seusdados{
      width: 70%;
      height: 50%;
      margin: auto;
      margin-top: -15%;
      padding: 10%;
      border-radius:3%;
    }
    #titleform {
      font-size: 1.5rem;
      text-align:center;
      /* margin: 0 auto; */
      margin-top:-11%;
      margin-bottom: 5%;

    }
    .imagemcap{
        text-align: center;
        font-size: 0.5rem;
        width: 80%;
        margin: 0 auto;
    }
}


/* Grande */

@media screen and (min-width: 1024px) and (max-width: 1599px)   {
    /* estilos aqui */
      /* Estilo Padrão se adaptou bem */
      .buttom {
          display: block;
          margin: 0 auto;
          margin-top: 2%;


          padding: 15px 40px;
          /* Blue 1 */

      }
      .texto {
          font-size: 80px;
          display: block;
          /* padding: -50%; */
          margin-top: 10%;
          /* line-height: 42px;  */
          /* identical to box height, or 52% */
          /*
          text-align: center;
           */
          /* Texts In purple / Título */
      }
      .seusdados{
        width: 50%;
        height: 50%;
        margin: auto;
        margin-top: -15%;
        padding: 10%;
        border-radius:3%;
      }
      #titleform {
        font-size: 2rem;
        margin-top:-20%;
        float: left;
        text-align: left;
      }
      .imagemcap{
          text-align: center;
          font-size: 0.5rem;
          width: 80%;
          margin: 0 auto;
      }
  }



/* Extra grande */

@media screen and (min-width: 1600px) {
    /* estilos aqui */
    /* Estilo Padrão se adaptou bem */
    .buttom {
        display: block;
        margin: 0 auto;
        margin-top: 2%;
        /* flex-direction: row;
        align-items: center; */

        padding: 15px 40px;
        /* Blue 1 */

    }
    .texto {
        font-size: 80px;
        display: block;
        /* padding: -50%; */
        margin-top: 10%;
        /* line-height: 42px;  */
        /* identical to box height, or 52% */
        /*
        text-align: center;
         */
        /* Texts In purple / Título */
    }
    .seusdados{
      width: 50%;
      height: 50%;
      margin: auto;
      margin-top: -15%;
      padding: 10%;
      border-radius:3%;
    }
    #titleform {
      font-size: 2.5rem;
      /* color: green; */
      margin-top:-20%;
      float: left;
      text-align: left;
    }
    .imagemcap{
        text-align: center;
        font-size: 0.5rem;
        width: 80%;
        margin: 0 auto;
    }
}
/* Fim do media extra grande */
html {
    height: 100%;
    background: #F0F0F7;
}

.caixacas {
    /* position: relative; */
    width: 100%;
    height: 100%;
    margin: auto;
    /* Back / Background */
    background: #F0F0F7;
}

.topo {
    width: 100%;
    height: 50%;
    margin-top: -20%;
    /* margin-left:-20%; */
    padding: 20%;
    text-align: center;
    background: #2D9CDB;
}

.fundotop {
    background: #2D9CDB;
}

.texto {
    /* font-family: Archivo;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    display: block; */
    color: #FFFFFF;
    /* padding: -50%; */
    margin-top: 10%;
    /* line-height: 42px;  */
    /* identical to box height, or 52% */
    /*
    text-align: center;
     */
    /* Texts In purple / Título */
}

.seusdados {
    /* position: absolute;
    width: 876px;
    height: 963px;
    left: 282px;
    top: 292px;
     */
    background: white;

    /* width: 50%;
    height: 50%; */


    text-align: left;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


}

.imagemcap {
    text-align: center;
}

.buttom {

    /* Blue 1 */
    background: #2F80ED;
    color: #FFFFFF;
    border-radius: 8px;
}
