@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
}
body{
  height: 100vh;
  width: 100vw;
  background: #F0F0F7 !important;
}


html {
    height: 100%;
    background: #F0F0F7;

}

@media screen and (max-width: 480px) {
    /* estilos aqui */

    .texto{
      font-size: 4rem;
      display: block;
      color: black;
      /* padding: -50%; */
      margin-top: 10%;
    }
    .textt {
      font-size: 0.8rem;
        margin-top: -10%;
        margin-bottom: 10%;
        word-wrap: break-word;
    }
    .seusdados{
      width: 100%;
      height: 100%;
      margin: auto;
      margin-top: -15%;
      padding: 15%;
    }
}


/* Small */

@media screen and (max-width: 768px) and (min-width: 481px)  {
    /* estilos aqui */

    .texto{
      font-size: 4rem;
      display: block;
      color: black;
      /* padding: -50%; */
      margin-top: 10%;
    }
    .seusdados{
      width: 80%;
      height: 80%;
      margin: auto;
      margin-top: -15%;
      padding: 10%;
    }
    .textt {
      font-size: 1.2rem;
        margin-top: -10%;
        margin-bottom: 10%;
        word-wrap: break-word;
    }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {

    /* estilos aqui */
    /* Centralizar botão  */

    .texto{
      font-size: 4rem;
      display: block;
      color: black;
      /* padding: -50%; */
      margin-top: 10%;
    }
    .seusdados{
      width: 55%;
      height: 55%;
      margin: auto;
      margin-top: -15%;
      padding: 10%;
    }
    .textt {
      font-size: 1rem;
        margin-top: -10%;
        margin-bottom: 10%;
        word-wrap: break-word;
    }
}


/* Grande */

@media screen and (min-width: 1024px) and (max-width: 1599px)  {
    /* estilos aqui */
      /* Estilo Padrão se adaptou bem */

      .texto{
        font-size: 5rem;
        display: block;
        /* padding: -50%; */
        margin-top: 10%;
      }
      .seusdados{
        width: 50%;
        height: 50%;
        margin: auto;
        margin-top: -15%;
        padding: 10%;
      }
      .textt {
        font-size: 1.2rem;
          margin-top: -10%;
          margin-bottom: 10%;
          word-wrap: break-word;
      }
}


/* Extra grande */

@media screen and (min-width: 1600px) {
    /* estilos aqui */
    /* Estilo Padrão se adaptou bem */

    .texto{
      font-size: 7rem;
      display: block;
      /* padding: -50%; */
      margin-top: 10%;
    }
    .seusdados{
      width: 50%;
      height: 50%;
      margin: auto;
      margin-top: -15%;
      padding: 10%;
    }
    .textt {
      font-size: 1.2rem;
        margin-top: -10%;
        margin-bottom: 10%;
        word-wrap: break-word;
    }
}


.caixacas {
    /* position: relative; */

    margin: auto;
    background: #F0F0F7;
    /* Back / Background */

}



.topo {
    width: 100%;
    height: 50%;
    margin-top: -20%;
    /* margin-left:-20%; */
    padding: 20%;
    text-align: center;
    background: #2D9CDB;
}

.fundotop {
    background: #2D9CDB;
}

.texto {
    font-family: Archivo;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;

    /* line-height: 42px;  */
    /* identical to box height, or 52% */
    /*
    text-align: center;
     */
    /* Texts In purple / Título */
}

.seusdados {
    /* position: absolute;
    width: 876px;
    height: 963px;
    left: 282px;
    top: 292px;
     */
    background: white;
    border-radius: 5%;

    text-align: left;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.enviar {
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 40px;
    /* position: absolute;
   width: 128px;
   height: 69.31px;
   left: 982px;
   top: 708px; */
    /* Blue 1 */
    background: #2F80ED;
    color: #FFFFFF;
    border-radius: 8px;
}

.textt {
    margin-top: -10%;
    margin-bottom: 10%;
}
